revtok
tqdm
torchvision
mo-future>=2.20
pyparsing
wandb
n2w
matplotlib
transformers
asciitree
apex
nltk
rapidfuzz


# wikisql
records
babel
tabulate
scipy

# demo use only
sqlalchemy

jonlines

#sql parser
mo-dots
mo-future
mo-imports
mo-kwargs 
mo-logs 
monotonic
moz-sql-parser
mysql-connector-python

# neo4j graph
py2neo
neo4j

# neural network
pytorch
transformers