# neural network
pytorch
transformers
torchvision


# neo4j graph
py2neo
neo4j

## others
revtok
tqdm
pyparsing
n2w
asciitree
nltk
rapidfuzz

# demo use only
sqlalchemy

#sql parser
mo-dots
mo-future
mo-imports
mo-kwargs 
mo-logs 
monotonic
moz-sql-parser
mysql-connector-python



# visulaization
wandb
matplotlib


